body {
    background-color: #f4d1ff;
    color: white;
    font-family: "Time New Roman", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #f0bde9;
    color: white;
    font-family: "Times New Roman", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
